# core
jupyter
nbconvert
ipykernel

# data manipulation
numpy
pandas

# data import
openpyxl
xlrd
requests

# data visualization
matplotlib
seaborn
plotly
streamlit

# more
selenium
bs4
scrapy
re
json
